#progress-container {
    width: 90%;
    margin-left: 5%;
    background-color: #ccc;
    height: 20px;
    position: relative;
    border-radius: 20px;
}

#progress-bar {
    border-radius: 20px;
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    transition: width 1s ease-in-out;
}
   .spinner {
position: absolute;
width: 9px;
height: 9px;
}

.spinner div {
position: absolute;
width: 50%;
height: 150%;
background: #000000;
transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
--delay: 0.1;
--rotation: 36;
--translation: 150;
}

.spinner div:nth-child(2) {
--delay: 0.2;
--rotation: 72;
--translation: 150;
}

.spinner div:nth-child(3) {
--delay: 0.3;
--rotation: 108;
--translation: 150;
}

.spinner div:nth-child(4) {
--delay: 0.4;
--rotation: 144;
--translation: 150;
}

.spinner div:nth-child(5) {
--delay: 0.5;
--rotation: 180;
--translation: 150;
}

.spinner div:nth-child(6) {
--delay: 0.6;
--rotation: 216;
--translation: 150;
}

.spinner div:nth-child(7) {
--delay: 0.7;
--rotation: 252;
--translation: 150;
}

.spinner div:nth-child(8) {
--delay: 0.8;
--rotation: 288;
--translation: 150;
}

.spinner div:nth-child(9) {
--delay: 0.9;
--rotation: 324;
--translation: 150;
}

.spinner div:nth-child(10) {
--delay: 1;
--rotation: 360;
--translation: 150;
}

@keyframes spinner-fzua35 {
0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
}

50% {
transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
}
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 50px;
}